
@{
    ViewBag.Title = "Cadastro de Clientes";
}

<div class="divComportamento">
    @{Html.Kendo().Window()

                .Name("telaCadastro")
                .Title("Cadastro de Clientes")

                .Content(@<text>

                    @(Html.Kendo().Grid<Base.GestorWeb.ViewModels.ClienteViewModel>()
                            .Name("Cliente")
                            .ToolBar(tb => tb.Create())
                            .Pageable(pg => pg
                                        .Refresh(true)
                                        .PageSizes(true)
                                        .ButtonCount(10)
                                        )
                            .Sortable()
                            .Filterable()
                            //.Editable(ed => ed.Mode(GridEditMode.PopUp))
                                    .Editable(ed => ed.Mode(GridEditMode.PopUp).TemplateName("TelaCliente"))
                            .Scrollable(scr => scr.Height(270))
                                .DataSource(dataSource => dataSource.Ajax()
                                .Model(model => model.Id(c => c.Id))
                                        .Read("Ler", "Cliente")
                                                .Update("Atualizar", "Cliente")
                                                .Create("Incluir", "Cliente")
                                                .Destroy("Excluir", "Cliente"))
                            .Columns(cols =>
                            {
                                cols.Command(cmd => cmd.Edit().Text(" ").HtmlAttributes(new { title = "Alterar" })).Width(20);
                                // cols.Bound(c => c.Id).Width(50).Title("Cód");
                                cols.Bound(c => c.Nome).Width(300);
                                // cols.Bound(c => c.Cnpj).Width(150).Title("CNPJ");
                                //cols.Bound(c => c.Municipio).Width(150).Title("Município");
                                // cols.Bound(c => c.Estado).Width(100).Title("Estado");
                                cols.Bound(c => c.Telefone).Width(150).Title("Telefone");
                                cols.Bound(c => c.Email).Width(150).Title("Email");
                                cols.Bound(c => c.Contato).Width(150).Title("Contato");

                                cols.Command(cmd => cmd.Destroy().Text(" ").HtmlAttributes(new { title = "Excluir" })).Width(20);

                                       
                            })
                    )
                        

            </text>)


                .Modal(true)
                .Height(430)
                .Width(1100)
                .Render();
    }
</div>

<style scoped>
    .divComportamento {
        width: 1000px;
        height: 550px;
        position: relative;
        display: block;
        top: 50%;
        margin-top: -250px;
        left: 50%;
        margin-left: -550px;
    }

    .k-button-icontext {
        display: inline-block;
        margin: 1px 2px 1px 2px;
        padding: 1px 1px 1px 3px;
        font-family: inherit;
        line-height: 0.4em;
        text-align: left;
        cursor: pointer;
        text-decoration: none;
    }

    .k-toolbar {
        position: relative;
        display: block;
        vertical-align: middle;
        line-height: 0.5em;
    }
</style>