@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Erro";
}

<h1 class="text-danger">Erro Serviço</h1>
<h2 class="text-danger">Ocorreu um erro ao processar sua solicitação, retorne mais tarde..</h2>

