@*@model Destakrh.GestorWeb.ViewModels.ProtocoloViewModel
    @Html.HiddenFor(model => model.Id)*@

<div id="campos" style="width:690px;height:410px;padding:5px; ">
    <div class="row">

        <div class="col-md-1">
          
        </div>

        <div class="col-md-7">
         

        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
           

        </div>

        <div class="col-md-5">
          

        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
       

        </div>

        <div class="col-md-5">

         


        </div>
    </div>

</div>

<style scoped>
    .k-edit-form {
        width: 700px;
    }

    .k-edit-form-container {
        width: 700px;
        /*height: 300px;*/
    }

    div.row {
        margin-top: 5px;
    }

    .label {
        margin-left: 1px;
        margin-right: 1px;
    }

    .single-line {
        max-width: none;
        width: 100%;
    }

    .k-editor-textarea {
        max-width: none;
        width: 100%;
    }
</style>





