<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://Borgio.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>Borgio.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Borgio</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Borgio</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BorgioDbReport" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:o9d0y2zbaa.database.windows.net,1433;Initial Catalog=Borgiodb;User ID=vegasoft@o9d0y2zbaa;Password=Gold2014" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=VEGA05;Initial Catalog=BorgioDb;Persist Security Info=True;User ID=sa;Password=Gold2014" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BorgioDbReport_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=VEGA05;Initial Catalog=BorgioDb;Persist Security Info=True;User ID=sa;Password=Gold2014" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DbContexto" Order="5" Enabled="False">
          <Destination Path="Data Source=tcp:o9d0y2zbaa.database.windows.net,1433;Initial Catalog=Borgiodb;User ID=vegasoft@o9d0y2zbaa;Password=Gold2014" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SuperBorgio.Dominio.Contexto.DbContexto, Borgio.Dominio" MigrationConfiguration="Borgio.Dominio.Migrations.Configuration, Borgio.Dominio" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="6" Enabled="False">
          <Destination Path="Data Source=tcp:o9d0y2zbaa.database.windows.net,1433;Initial Catalog=Borgiodb;Persist Security Info=True;User ID=vegasoft@o9d0y2zbaa;Password=Gold2014" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Borgio.GestorWeb.Models.ApplicationDbContext, Borgio.GestorWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:o9d0y2zbaa.database.windows.net,1433;Initial Catalog=Borgiodb;Persist Security Info=True;User ID=vegasoft@o9d0y2zbaa;Password=Gold2014</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DbContexto-Web.config Connection String">
      <ParameterValue>Data Source=tcp:o9d0y2zbaa.database.windows.net,1433;Initial Catalog=Borgiodb;User ID=vegasoft@o9d0y2zbaa;Password=Gold2014</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BorgioDbReport-Web.config Connection String">
      <ParameterValue>Data Source=tcp:o9d0y2zbaa.database.windows.net,1433;Initial Catalog=Borgiodb;User ID=vegasoft@o9d0y2zbaa;Password=Gold2014</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>