<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://Kurtlewin.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>Kurtlewin.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Kurtlewin</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$Kurtlewin</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:o9d0y2zbaa.database.windows.net,1433;Initial Catalog=KurtlewindbSeg;User ID=vegasoft@o9d0y2zbaa;Password=Gold@2014" Name="Data Source=tcp:o9d0y2zbaa.database.windows.net,1433;Initial Catalog=KurtlewindbSeg;User Id=vegasoft@o9d0y2zbaa;Password=Gold@2014" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Kurtlewin.GestorWeb.Models.ApplicationDbContext, Kurtlewin.GestorWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="KurtlewinDbContexto" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:o9d0y2zbaa.database.windows.net,1433;Initial Catalog=Kurtlewindb;User ID=vegasoft@o9d0y2zbaa;Password=Gold@2014" Name="Data Source=tcp:o9d0y2zbaa.database.windows.net,1433;Initial Catalog=Kurtlewindb;User Id=vegasoft@o9d0y2zbaa;Password=Gold@2014" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Kurtlewin.Dominio.Contexto.KurtlewinDbContexto, Kurtlewin.Dominio" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="KurtlewinDbReport" Order="3" Enabled="False" xmlns="">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source==NOTEBOOKACER\EXPRESS;Initial Catalog=KurtlewinDb;Persist Security Info=True;User ID=sa;Password=Gold2014" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\KurtlewinDbReport_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source==NOTEBOOKACER\EXPRESS;Initial Catalog=KurtlewinDb;Persist Security Info=True;User ID=sa;Password=Gold2014" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:o9d0y2zbaa.database.windows.net,1433;Initial Catalog=KurtlewindbSeg;User Id=vegasoft@o9d0y2zbaa;Password=Gold@2014</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)KurtlewinDbContexto-Web.config Connection String">
      <ParameterValue>Data Source=tcp:o9d0y2zbaa.database.windows.net,1433;Initial Catalog=Kurtlewindb;User Id=vegasoft@o9d0y2zbaa;Password=Gold@2014</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>