<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ec2-54-94-225-52.sa-east-1.compute.amazonaws.com</MSDeployServiceURL>
    <DeployIisAppPath>Kurtlewin</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=54.94.225.52;Initial Catalog=kurtlewindb;User ID=vegasoft;Password=Gold2015" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Kurtlewin.GestorWeb.Models.ApplicationDbContext, Kurtlewin.GestorWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="KurtlewinDbContexto" Order="2" Enabled="False">
          <Destination Path="Data Source=54.94.225.52;Initial Catalog=kurtlewindb;Persist Security Info=True;User ID=vegasoft;Password=Gold2015" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Kurtlewin.Dominio.Contexto.KurtlewinDbContexto, Kurtlewin.Dominio" MigrationConfiguration="Kurtlewin.Dominio.Migrations.Configuration, Kurtlewin.Dominio" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="KurtlewinDb" Order="4" Enabled="False">
          <Destination Path="Data Source=54.94.225.52;Initial Catalog=kurtlewindb;User ID=vegasoft;Password=Gold2015" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=VEGA05;Initial Catalog=KurtlewinDb;Persist Security Info=True;User ID=sa;Password=Gold2014" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\KurtlewinDb_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=VEGA05;Initial Catalog=KurtlewinDb;Persist Security Info=True;User ID=sa;Password=Gold2014" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=54.94.225.52;Initial Catalog=kurtlewindb;User ID=vegasoft;Password=Gold2015</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)KurtlewinDb-Web.config Connection String">
      <ParameterValue>Data Source=54.94.225.52;Initial Catalog=kurtlewindb;User ID=vegasoft;Password=Gold2015</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)KurtlewinDbContexto-Web.config Connection String">
      <ParameterValue>Data Source=54.94.225.52;Initial Catalog=kurtlewindb;Persist Security Info=True;User ID=vegasoft;Password=Gold2015</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>